.navbar{
    min-width: 100vh;
    display: flex;
    justify-content:space-between;
    gap: 10px;
    align-items:center;
    padding: 20px 0px;
}
.nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;
}

.nav-items:hover{
    padding-bottom: 2px;
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.nav-items .active{
    border-bottom: 2px solid thistle;
}

.navbar-cart{
    position: relative;
}

.cart-dot{
    position: absolute;
    background-color: red;
    border: 5px solid red;
    border-radius: 50%;
    top: -8px;
    right: -8px;

}
.navbar-button{
    border: 1px solid gray;
    border-radius: 50px;
    background-color: transparent;
    transition: 0.3s;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

.navbar-button:hover{
    background-color: aliceblue;
}